<?php
$make = $block->getMakeCars();
$searchBlock = $block->getLayout()->createBlock('Techies\SmartSearch\Block\SmartSearch');
$car_year = $searchBlock->getCatalogSessionData()->getCarYear();
$car_make = $searchBlock->getCatalogSessionData()->getCarMake();
$car_model = $searchBlock->getCatalogSessionData()->getCarModel();
$yearsData = $block->getLayout()->createBlock('Techies\Cardetail\Block\CategoryProduct')->getYearsFromCoreConfig();
?>
<br/>
<h3 class="details_h3">What do you drive?</h3>
<div id="its-make-product-details">
	<select id="car_year" name="car_year" class="getdataclass" >
		<option value="0">Select Year</option>
		<?php
		if (empty($yearsData)) {
			$startdate = 1985;
			$enddate = date("Y");
			$yearsData = array_reverse(range($startdate, $enddate));
		}
		foreach ($yearsData as $year) {
			?>
			<option <?php //echo ($car_year == $year) ? "selected" : "";  ?> value="<?php echo $year['value'] ?>"><?php echo $year['label'] ?></option>
			<?php
		}
		?>
	</select>
</div>
<br/>
<div id="its-model-product-details">
	<select id="car_make" name="car_make" class="getdataclass" >
		<option value="0">Select Make</option>
		<?php
		if (count($make) > 0) {
			foreach ($make as $val) {
				if ($car_make == $val['value']) {
					?>
					<option <?php //echo ($car_make == $val['value']) ? "selected" : "";  ?> value="<?php echo $val['value'] ?>" data-make="<?php echo $val['label'] ?>"  ><?php echo $val['label'] ?></option>
					<?php
				}
			}
		}
		?>
	</select></div>
<br/>
<div id="its-year-product-details" >
	<select id="car_model" name="car_model" class="getdataclass">
		<option value="0">Select Model</option>
	</select>
</div> 
<div id="valid" style="display: none" class="valid"> <p>Please select all fields.</p></div>
<br/><br/>
<script>
	require(['jquery', 'modal', "mage/mage"],
			function ($) {
				var str = "<option value='0'>Select</option>";
				var car_modelSession = <?php echo!empty($car_model) ? $car_model : "0"; ?>;
				var car_makeSession = <?php echo!empty($car_make) ? $car_make : "0"; ?>;
				var car_yearSession = <?php echo!empty($car_year) ? $car_year : "0"; ?>;
				$("#car_year").change(function () {
					var str = "<option value='0'>Select Make</option>";
					$("#product-configure-html").html('');
					$('#car_make').html("<option value='0'>Select Make</option>");
					$('#car_model').html("<option value='0'>Select Model</option>");
					var car_make = $('#car_make').val();
					var car_year = $('#car_year').val();
					var car_model = $('#car_model').val();
					var attr = $(this).attr('id');
					if (car_year != '0') {
						//  alert('test');
						$('[data-role="loader"]').trigger('loading-mask');
						//$('.loading-mask').attr("style","display: block;"); 
						var customurl = "<?php echo $this->getUrl() . 'getcarmakes/' ?>";
						$.ajax({
							url: customurl,
							showLoader: true,
							//  cache: false,
							//         data: 'car_make='+car_make+'&'+'car_year='+car_year+'&ajax=1',
							data: {
								car_make: car_make,
								car_year: car_year,
								ajax: '1',
							},
							type: 'POST',
							dataType: 'json',
							beforeSend: function () {
								//     alert('sending');
							},
							success: function (data, status, xhr) {
								$.each(data, function (key, value) {
									// alert( key+' :'+ value);
									var selected = '';
									if (car_makeSession == key) {
										selected = "selected";
									}
									if (value != '0') {
										str += "<option " + selected + " value='" + key + "'    data-model='" + value + "' >" + value + "</option>";
									}
								});
								$('#car_make').html(str);
								if (car_makeSession != '0') {
									$('#car_make').trigger("change");
								}
								$('#valid').hide();
							}
						});
					} else {
						$('#valid').show();
					}
				});
				if (car_yearSession != '0') {
					//  $('#car_year select').val(car_yearSession);
					$("#car_year option[value=" + car_yearSession + "]").attr('selected', 'selected');
					$('#car_year').trigger("change");
					//  alert(car_yearSession);
				}
				$("#car_make").change(function () {
					var str = "<option value='0'>Select Model</option>";
					$("#product-configure-html").html('');
					$('#car_model').html("<option value='0'>Select Model</option>");
					var car_make = $('#car_make').val();
					var car_year = $('#car_year').val();
					var car_model = $('#car_model').val();
					var attr = $(this).attr('id');
					if (car_make != '0' && car_year != '0') {
						var customurl = "<?php echo $this->getUrl() . 'getcars/' ?>";
						$.ajax({
							url: customurl,
							showLoader: true,
							//         data: 'car_make='+car_make+'&'+'car_year='+car_year+'&ajax=1',
							data: {
								car_make: car_make,
								car_year: car_year,
								ajax: '1',
							},
							type: 'POST',
							dataType: 'json',
							beforeSend: function () {
								//     alert('sending');
							},
							success: function (data, status, xhr) {
								$.each(data.items, function (key, value) {
									//  alert( value.carmodel );
									var selected = '';
									if (car_modelSession == value.model_id) {
										selected = "selected";
									}
									if (value.model_id != '0') {
										str += "<option  " + selected + " value='" + value.model_id + "'  data-model='" + value.carmodel + "' >" + value.carmodel + "</option>";
									}
								});
								$('#car_model').html(str);
								if (car_modelSession != '0') {
									$('#car_model').trigger("change");
								}
								$('#valid').hide();
							}
						});
					} else {
						$('#valid').show();
					}
				});
				$("#car_model").change(function () {
					$("#product-configure-html").html('');
					var car_year = $('#car_year').val();
					var car_make = $('#car_make').val();
					var car_model = $('#car_model').val();
					var productid = $('#productid').val();
					if (car_year != '0' && car_make != '0' && car_model != '0' && productid != '') {
						var customurl = "<?php echo $this->getUrl() . 'cardetail/' ?>";
						$.ajax({
							url: customurl,
							showLoader: true,
							//         data: 'car_make='+car_make+'&'+'car_year='+car_year+'&ajax=1',
							data: {
								car_make: car_make,
								car_year: car_year,
								car_model: car_model,
								ajax: '1',
								productid: productid,
							},
							type: 'POST',
							//      dataType: 'json',
							beforeSend: function () {
								//     alert('sending');
							},
							success: function (data, status, xhr) {
								$("#product-configure-html").html(data);
								car_make = $('#car_make').find(":selected").text();
								car_model = $('#car_model').find(":selected").text();
								$('.FabricCode').val($('#fb').val());
								$('.Year').val($('#car_year').val());
								$('.CarMake').val(car_make);
								$('.CarModel').val(car_model);
							}
						});
					}
				});
			});
</script>
