.cms-home #maincontent{position:relative;padding-top:100px;}
.smartsearch-html{
    padding:50px 30px;
    background:#000;
    display: inline-block;
    width: 100%;    position: absolute;
    top: -126px;
    border: 1px solid #adadad;
    z-index: 5;text-align:center;
    box-shadow: 0 0px 15px 4px rgba(0,0,0,0.2);
}
.smartsearch-html h2{font-weight: 600;
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;}
.smartsearch-html .control{
    display:inline-block;
    width:20%;
    margin: 0 20px;
}
.smartsearch-html .control input[type="submit"]{
    background:#FFDE00;
    padding:13px 30px;
    color:#000;font-size:14px;text-transform:uppercase;
    border: 0;width:100%;
   font-weight: bold;
}

.smartsearch-form{
    padding:50px 30px;
    background:#000;
    display: inline-block;
    width: 100%;   
    border: 1px solid #adadad;
    z-index: 5;text-align:center;
    box-shadow: 0 0px 15px 4px rgba(0,0,0,0.2);
}
.smartsearch-form h2{font-weight: 600;
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;}
.smartsearch-form .control{
    display:inline-block;
    width:20%;
    margin: 0 20px;
}
.smartsearch-form .control input[type="submit"]{
    background:#FFDE00;
    padding:13px 30px;
    color:#000;font-size:14px;text-transform:uppercase;
    border: 0;width:100%;
   font-weight: bold;
}

.smartsearch-result{margin:40px 0;}
.smartsearch-result .product-item-info{border:1px solid #fafafa;}
.fabric-index-index .page-title{display:none;}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 13px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}
.open>.dropdown-menu{display:block;}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu li.active a {
    background: #ffde00;
}
.dropdown-menu>li>a:hover{text-decoration:none;}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.radio, .checkbox {
    display: block;
    min-height: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}
.multiselect-container>li>a>label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 5px 20px 4px 20px;
}
.multiselect-container>li {
    padding: 0;margin:  2px 0;
}
@media only screen and (max-width: 960px){
	.smartsearch-form .control, .smartsearch-html .control {
		display: inline-block;
		width: 43%;
		margin: 8px 20px;
	}
}
@media only screen and (max-width: 640px){
	.cms-home #maincontent{position:relative;padding-top:0;}
    .smartsearch-html{position: relative;
    margin-top: 0;top:0;}
	.smartsearch-form .control, .smartsearch-html .control {
		float: left;
		width: 100%;
		margin: 0 0 20px;
	}
	.smartsearch-form .control input[type="submit"], .smartsearch-html .control input[type="submit"] {width:100%;}
}