<?php 
$yearsData = $block->getLayout()->createBlock('Techies\Cardetail\Block\CategoryProduct')->getYearsFromCoreConfig();
							  
$lifeStyleAttr=$block->getLifeStyleAttr();
$waterresistance=$block->getWaterResistanceAttr();
$durability=$block->getDurabilityAttr();
$softness=$block->getSoftnessAttr();
$price=$block->getPriceFormColation();    
?>
<div class="col-md-24">
	<div class="slider lifestyle" style="text-align:left;">
		<p>Lifestyle</p>
		<select name="lifestyle" id="lifestyle" multiple="multiple">
				<?php
				if(isset($lifeStyleAttr) && count($lifeStyleAttr)){
					foreach($lifeStyleAttr as $val){
						if(!empty($val['value'])){
				?>
					<option value="<?php echo $val['value']?>"><?php echo $val['label']?></option>
				<?php }
					}
				?>
			
					<?php }?>
		</select>
	</div>
	<div class="slider">
		<input type="hidden" name="min-price" value="" />
		<input type="hidden" name="max-price" value="" />
		<span>Price</span>
		<div id="slider-snap" class="filter"></div>
		<span class="example-val min-price" id="slider-snap-value-lower">$</span> - 
		<span class="example-val max-price" id="slider-snap-value-upper">$</span>
	</div>
	<div class="slider">
		<input type="hidden" name="resistance" value="0" />
		<span>Water Resistance</span>
		<div id="slider-snap1" class="filter"></div>
		<h4> <span class="align-left">Low</span> <span class="align-center">Medium</span> <span class="align-right">High</span></h4>
	</div>
	<div class="slider">
		<input type="hidden" name="durability" value="0" />
		<span>Durability</span>
		<div id="slider-snap2" class="filter"></div>
		<h4><span class="align-left">Low</span> <span class="align-center">Medium</span> <span class="align-right">High</span></h4>
	</div>
	<div class="slider">
		<input type="hidden" name="softness" value="0" />
		<span>Softness</span>
		<div id="slider-snap3" class="filter"></div>
		<h4><span class="align-left">Low</span> <span class="align-center">Medium</span> <span class="align-right">High</span></h4>
	</div>
</div>

<script>
	require(['jquery', 'modal', "mage/mage",
	 "Techies_SmartSearch/js/nouislider","Techies_SmartSearch/js/multiselect","Techies_SmartSearch/js/bootstrapmin"
	], function (jQuery,modal,mage,noUiSlider,bootstrapmin,multiselect) {
		var snapSlider = document.getElementById('slider-snap');
		noUiSlider.create(snapSlider, {
			start: [50, 650],
			connect: true,
			range: {
				'min': [<?php echo $price['min']?>],
				'max': [<?php echo $price['max']?>]
				}
		});
		var snapValues = [
			document.getElementById('slider-snap-value-lower'),
			document.getElementById('slider-snap-value-upper')
		];
		snapSlider.noUiSlider.on('update', function (values, handle) {
			snapValues[handle].innerHTML = values[handle];
		});
		var bigValueSlider = document.getElementById('slider-snap1');
			noUiSlider.create(bigValueSlider, {
				start: 0,
				step: 1,
				range: {
					min: <?php echo $waterresistance['min']?>,
					max: <?php echo $waterresistance['max']?>
				}
			});
		var bigValueSlider = document.getElementById('slider-snap2');
		noUiSlider.create(bigValueSlider, {
			start: 0,
			step: 1,
			range: {
				min: <?php echo $durability['min']?>,
				max: <?php echo $durability['max']?>
			}
		});
		var bigValueSlider = document.getElementById('slider-snap3');
		noUiSlider.create(bigValueSlider, {
			start: 0,
			step: 1,
			range: {
				min: <?php echo $softness['min']?>,
				max: <?php echo $softness['max']?>
			}
		});
		jQuery('#lifestyle').multiselect({
			includeSelectAllOption: true,
			numberDisplayed: 1
		});   
	 	jQuery('.lifestyle input[type="checkbox"]').on('click', function () {
			var lifeVal = [];
			if(jQuery(this).is(':checked')){
				jQuery.each(jQuery("input[type='checkbox']:checked"), function(){            
					lifeVal.push(jQuery(this).val());
				});
			}
			if(lifeVal){
				var waterVal =  jQuery("#slider-snap1.active .noUi-handle").attr('aria-valuenow');
		   		var dureVal =  jQuery("#slider-snap2.active .noUi-handle").attr('aria-valuenow');
		   		var softVal =  jQuery("#slider-snap3.active .noUi-handle").attr('aria-valuenow');
		   		var minPrice =  jQuery("#slider-snap").parent('.slider').find('.min-price').text();
		   		var maxPrice =   jQuery("#slider-snap").parent('.slider').find('.max-price').text();
				jQuery("input[name='min-price']").val(minPrice);
				jQuery("input[name='max-price']").val(maxPrice);
				jQuery("input[name='resistance']").val(waterVal);
				jQuery("input[name='durability']").val(dureVal);
				jQuery("input[name='softness']").val(softVal);
				var customurl = "<?php echo $this->getUrl(); ?>fabric-selection/index/ajaxfilter";
				jQuery.ajax({
					url: customurl,
					showLoader: true,
					data: {
						water_resis: waterVal > 0 ?parseInt(waterVal):'0',
						durability: dureVal > 0 ?parseInt(dureVal):'0',
						softness: softVal > 0 ?parseInt(softVal):'0',
						lifeStyle : lifeVal.length >0?lifeVal:'0', 
						min_price:minPrice,
						max_price:maxPrice,
						ajax: '1',
					},
					type: 'POST',
					beforeSend: function () {
						//     alert('sending');
					},
					success: function (data, status, xhr) {
						jQuery('#category-products-grid').html(data); 
					}
				});
			}
		});
		jQuery(".filter").on('click', function () {
			jQuery(this).addClass('active');
			var waterVal =  jQuery("#slider-snap1.active .noUi-handle").attr('aria-valuenow');
			var dureVal =  jQuery("#slider-snap2.active .noUi-handle").attr('aria-valuenow');
			var softVal =  jQuery("#slider-snap3.active .noUi-handle").attr('aria-valuenow');
			var lifeVal = jQuery("#lifestyle").val();
			var minPrice =  jQuery("#slider-snap").parent('.slider').find('.min-price').text();
			var maxPrice =   jQuery("#slider-snap").parent('.slider').find('.max-price').text();
			jQuery("input[name='min-price']").val(minPrice);
			jQuery("input[name='max-price']").val(maxPrice);
			jQuery("input[name='resistance']").val(waterVal);
			jQuery("input[name='durability']").val(dureVal);
			jQuery("input[name='softness']").val(softVal);
			var customurl = "<?php echo $this->getUrl(); ?>fabric-selection/index/ajaxfilter";
			jQuery.ajax({
				url: customurl,
				showLoader: true,
				data: {
					water_resis: waterVal > 0 ?parseInt(waterVal):'0',
					durability: dureVal > 0 ?parseInt(dureVal):'0',
					softness: softVal > 0 ?parseInt(softVal):'0',
					lifeStyle : lifeVal, 
					min_price:minPrice,
					max_price:maxPrice,
					ajax: '1',
				},
				type: 'POST',
				beforeSend: function () {
					//     alert('sending');
				},
				success: function (data, status, xhr) {
					jQuery('#category-products-grid').html(data); 
				}
			});
		});
	});
</script>