<?php $filter_val= $block->getAjaxData();

$waterAttrVal = $filter_val['water_resis'];
$duraAttrVal = $filter_val['durability'];
$softAttrVal = $filter_val['softness'];
$lifestyleAttrVal = $filter_val['lifeStyle'];

$productBlock =  $block->getLayout()->createBlock('Techies\SmartSearch\Block\SmartSearch');
$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
$productCollection = $productBlock->getProductCollection();

if(isset($waterAttrVal) && !empty($waterAttrVal)){
	$productCollection->addAttributeToFilter('water_resistance',$waterAttrVal);
}
if(isset($duraAttrVal) && !empty($duraAttrVal)){
	$productCollection->addAttributeToFilter('durability',$duraAttrVal);
}
if(isset($softAttrVal) && !empty($softAttrVal)){
	$productCollection->addAttributeToFilter('softness',$softAttrVal);
}

if(isset($lifestyleAttrVal) && !empty($lifestyleAttrVal)){
	foreach($lifestyleAttrVal as $val){
		$productCollection->addFieldToFilter('lifestyle', array(
			array('finset'=> array($val)))
		);
	}
}

$productCollection->addFieldToFilter('price', ['from' => $filter_val['min_price'], 'to' => $filter_val['max_price']]);

$imageBlock =  $block->getLayout()->createBlock('Codazon\ProductFilter\Block\Product\ProductsList');
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_optionHelper = $this->helper('Codazon\ThemeOptions\Helper\Data');
$image = 'category_page_grid';
$image_hover = 'category_page_grid_hover';
$showDescription = $_optionHelper->getConfig('general_section/category_view/show_short_description');
$pos = $block->getPositioned();

$parentIds = array();
$lifeStyle_parentIds = array();
$arrid = array(0); $iterator = 1; 
if(count($productCollection) > 0){ ?>
	<ol class="products list items product-items same-height">	
	<?php 
	foreach ($productCollection as $_product) {
		$parentId = $productBlock->getParentProductId($_product->getId());
		if(!in_array($parentId, $arrid)){
			$arrid[$parentId] = $parentId;
			$_product = $productBlock->getLoadProduct($parentId);
			/* @escapeNotVerified */ 
			echo ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
			<div class="product-item-info" data-container="product-grid">                	
				<div class="cdz-hover-section">
					<div class="cdz-product-top">
						<?php $productImage = $imageBlock->getImage($_product, $image);
							$productHoverImage = $imageBlock->getImage($_product, $image_hover);
							$tmp1 = $productImage->getData('image_url');
							$tmp1 = explode('/',$tmp1);
							$tmp2 = $productHoverImage->getData('image_url');
							$tmp2 = explode('/',$tmp2);
							if($tmp1[count($tmp1)-1] == $tmp2[count($tmp2)-1]){
								$productHoverImage = $productImage;
							}
							if ($pos != null) {
								$position = ' style="left:' . $productImage->getWidth() . 'px;'
								. 'top:' . $productImage->getHeight() . 'px;"';
							}
						?>
						<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
							<span class="main-image">
								<?php echo $productImage->toHtml(); ?>
							</span>
							<span class="hover-image">
								<?php echo $productHoverImage->toHtml(); ?>
							</span>
						</a>
					</div>																		
				</div>
				<div class="product details product-item-details">
					<strong class="product name product-item-name">
						<a class="product-item-link" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
							<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
						</a>
					</strong>
					<?php echo $block->getProductDetailsHtml($_product); ?>
					<div class="product-item-inner">
						<div class="product description product-item-description">
							<?php $short_description =  $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description');
								echo substr($short_description,0,150).'...';?>
								<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_product->getName() ?>"
											class="action more"><?php /* @escapeNotVerified */ echo __('Read More') ?></a>
						</div>
					</div>
				</div>
			</div>
			<?php echo($iterator == count($productCollection)+1) ? '</li>' : '';
		}
	} ?>
	</ol>
<?php }  else {
	echo "<p>No fabrics found for your selection.</p>";
}
?>
