<?php
$makeBlock = $block->getLayout()->createBlock('Techies\Carbrand\Block\Makecar\Make');
$product_id = !empty($_GET['productID'])?$_GET['productID']:'';
$car_year = "";
$car_make = "";
 ?>
 <div id="step-1">
	<div class="iframe-section" >
		<h4>Please Select Vehicle Year:</h4>
		<select class="getdataclass" data-validate="{required:true, 'validate-select':true}" id="car_year" name="car_year" >
		  	<option value="0">Select Year</option>
			<?php $yearsData = $block->getLayout()->createBlock('Techies\Cardetail\Block\CategoryProduct')->getYearsFromCoreConfig();
				foreach ($yearsData as $year) {
						?>
				<option <?php echo ($car_year == $year['value'])?"selected":"";?> value="<?php echo $year['value'] ?>"><?php echo $year['label'] ?></option>
			<?php	}	?>
		</select>
	</div>
	<div class="iframe-section" >
		<h4>Please Select Vehicle Make:</h4>
		<select class="required getdataclass" id="car_make" name="car_make" >
			<option value="0">Select Make</option>
			<?php $make = $makeBlock->getMakeCars();
				if (count($make) > 0) {
					foreach ($make as $val) { ?>
				<option <?php echo ($car_make == $val['value'])?"selected":"";?> value="<?php echo $val['value'] ?>" data-make="<?php echo $val['label'] ?>"  ><?php echo $val['label'] ?></option>
				<?php	}
				}
				?>
		</select>
	 </div>
	 <div class="iframe-section" >
		<h4>Please Select Vehicle Model:</h4>
		<select class="getdataclass" id="car_model" name="car_model">
			<option value="0">Select Model</option>
		</select>
	 </div>
 </div>
 <div id="configure-product"> </div>
 
<script>
require(['jquery', 'modal', "mage/mage"],
			function ($) {
	$("#car_year").change(function () {
		var str = "<option value='0'>Select</option>";
		$('#car_make').html("<option value='0'>Select</option>");
		$('#car_model').html("<option value='0'>Select</option>");
		var car_make = $('#car_make').val();
		var car_year = $('#car_year').val();
		var car_model = $('#car_model').val();
		var attr = $(this).attr('id');
		if (car_year != '0'   ) {
			var customurl = "<?php echo $this->getUrl() . 'getcarmakes/' ?>";
			$.ajax({
				url: customurl,
				showLoader: true,
				data: {
					car_make: car_make,
					car_year: car_year,
					ajax: '1',
				},
				type: 'POST',
				dataType: 'json',
				beforeSend: function () {
					//     alert('sending');
				},
				success: function (data, status, xhr) {
					$.each(data, function (key, value) {
						if (value != '0') {
							str += "<option value='" + key + "'  data-model='" + value + "' >" + value + "</option>";
						}
					});
					$('#car_make').html(str);
					$('#valid').hide();
				}
			});
		} else {
			$('#valid').show();
		}
	});

	$("#car_make").change(function () {
		var str = "<option value='0'>Select</option>";
		$('#car_model').html("<option value='0'>Select</option>");
		var car_make = $('#car_make').val();
		var car_year = $('#car_year').val();
		var car_model = $('#car_model').val();
		var attr = $(this).attr('id');
		if (car_year != '0' && car_make != '0' && attr != 'car_model') {
			var customurl = "<?php echo $this->getUrl() . 'getcars/' ?>";
			$.ajax({
				url: customurl,
				showLoader: true,
				data: {
					car_make: car_make,
					car_year: car_year,
					ajax: '1',
				},
				type: 'POST',
				dataType: 'json',
				beforeSend: function () {
					//     alert('sending');
				},
				success: function (data, status, xhr) {
					$.each(data.items, function (key, value) {
						if (value.model_id != '0') {
							str += "<option value='" + value.model_id + "'  data-model='" + value.carmodel + "' >" + value.carmodel + "</option>";
						}
					});
					$('#car_model').html(str);
					$('#valid').hide();
				}
			});
		} else {
			if (car_year == '0' || car_make == '0' || car_model == '0') {
				$('#valid').show();
			}
		}
	});
	
	$("#car_model").change(function () {
		$("#configure-product").html('');
		var car_year = $('#car_year').val();
		var car_make = $('#car_make').val();
		var car_model = $('#car_model').val();
		if (car_year != '0' && car_make != '0' && car_model != '0') {
			var customurl = "<?php echo $this->getUrl() . 'iframevehicle/index/result' ?>";
			$.ajax({
				url: customurl,
				showLoader: true,
				data: {
					car_make: car_make,
					car_year: car_year,
					car_model: car_model,
					ajax: '1',
					<?php if(!empty($_GET['fabric'])){ ?>
						fabric: '<?php echo $_GET['fabric'];?>',
					<?php } if(!empty($_GET['SessionID'])){ ?>
						sessionId: '<?php echo $_GET['SessionID'];?>',
					<?php } if (!empty($_GET['productID'])){?>
						productid: <?php echo $product_id;?>,
					<?php } if (!empty($_GET['CID'])){?>
						site_id: '<?php echo $_GET['CID']?>',
					<?php } ?>
				},
				type: 'POST',
				beforeSend: function () {
					//     alert('sending');
				},
				success: function (data, status, xhr) {
					$('#step-1').hide();
					$('#configure-product').html(data);
				}
			});
		}
	});
});

</script>