<button id="add_more" title="Save Car Data" type="button" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" ><span class="ui-button-text">
	<span>Add More</span>
</span></button>
<div class="admin__data-grid-wrap">
	<table id="car_data" class="data-grid">
		<thead>
			<tr>
				<th class="data-grid-th">ID</th>
				<th class="data-grid-th">Seat Id</th>
				<th class="data-grid-th">Pattern</th>
				<th class="data-grid-th">Location</th>
				<th class="data-grid-th">BodyType</th>
				<th class="data-grid-th">VehicleType</th>
				<th class="data-grid-th">NumDoors</th>
				<th class="data-grid-th">DriveType</th>
			   <th class="data-grid-th">SN</th>
				<th class="data-grid-th">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr class="data-row">
				<td class="row_id">1</td>
				<td><input type="number" name="cardata[seat_id][]" value="" /></td>
				<td><input type="text" name="cardata[pattern][]" value="" /></td>
				<td><input type="text" name="cardata[location][]" value="" /></td>
				<td><input type="text" name="cardata[body_type][]" value="" /></td>
				<td><input type="text" name="cardata[vehicle_type][]" value="" /></td>
				<td><input type="text" name="cardata[num_doors][]" value="" /></td>
				<td><input type="text" name="cardata[drive_type][]" value="" /></td>
			  <td><input type="text" name="cardata[sn][]" value="" /></td>
				<td><a href="javascript:void(0);" class="delete_row">Delete</a></td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	require([ 'jquery'], function($){
		var rowCount = $('#car_data tbody tr').length;
		$( "#add_more" ).click(function() {
		rowCount++;
			var row = '<tr class="data-row car-data-row'+rowCount+'"><td class="row_id">'+rowCount+'</td><td><input type="number" name="cardata[seat_id][]" value="" /></td><td><input type="text" name="cardata[pattern][]" value="" /></td><td><input type="text" name="cardata[location][]" value="" /></td><td><input type="text" name="cardata[body_type][]" value="" /></td><td><input type="text" name="cardata[vehicle_type][]" value="" /></td><td><input type="text" name="cardata[num_doors][]" value="" /></td><td><input type="text" name="cardata[drive_type][]" value="" /></td> <td><input type="text" name="cardata[ns][]" value="" /></td><td><a href="javascript:void(0);" class="delete_row">Delete</a></td></tr>';
			$("#car_data tbody").append(row);
		});
		$(document).on('click',".delete_row", function(){
			$(this).parents('.data-row').remove();
		});
	});
   </script>