.iframe-vehicle{
margin:20px;
}
.iframe-section{margin-bottom:20px;}
.iframe-section ul{
	list-style: none;
	margin: 0;
	padding: 0;}
.iframe-section ul li{
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #333;
	margin: 10px;
	width: 15%;
	text-align: center;
	font-size: 13px;
	font-weight: 500;
	cursor: pointer;
}
.subheading_w_bgblack{
	background: #000;
	padding: 10px;
	color: #fff;
	text-align: center;
	margin-bottom: 0;
}
table.datatable {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.datatable th {
	border-right: 1px solid #ccc;
}
.datatable td {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.choose_btn{
	background: #000;
	color: #fff;
	padding: 10px 30px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
}