<?php 
$ajaxproductid= $block->getAjaxData();
$productBlock =  $block->getLayout()->createBlock('Techies\SmartSearch\Block\SmartSearch');
$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
$_product = $block->getLayout()->createBlock('Techies\Cardetail\Block\CategoryProduct')->getLoadProduct($ajaxproductid);
$productCollection = $productBlock->getProductCollection()->addAttributeToFilter('type_id','configurable')->setPageSize(24);

$_helper = $this->helper('Magento\Catalog\Helper\Image');

if(!empty($_product)){ ?>
<div class="col-md-11">
	<div class="product-image">
		<?php $imageUrl = $_helper->init($_product, 'product_page_image_large')->constrainOnly(true)
							->keepAspectRatio(true)
							->keepTransparency(true)
							->keepFrame(false)
							->resize(520, 520)
							->getUrl();
		?>
		<img src="<?php echo $imageUrl;?>" />
	</div>
</div>
<div class="col-md-13">
	<div class="col-md-24 home-product-main">
		<h1 class="page-title"><?php echo $_product->getName();?></h1>
		<div class="col-md-12">
			<select id="home_fablist">
				<?php foreach($productCollection as $product){ ?>
					<option <?php echo ($ajaxproductid == $product->getId())?'selected':'';?> value="<?php echo $product->getId();?>"><?php echo $product->getName();?></option>
				<?php } ?>
			<select>
			<div class="stock available" title="Availability">
				<strong>Availability :</strong> <?php if ($_product->getIsSalable()): ?> <span>In stock</span><?php else: ?><span>Out of stock</span><?php endif; ?>
			</div>
			<div class="color-options">
				<span><b>Available Colors</b></span>
				<?php $images = $_product->getMediaGalleryImages();?>
				<ul>
					<?php foreach($images as $child) { 
						$big_image = $_helper->init($_product,'product_page_image_large',['aspect_ratio' => false])->setImageFile($child->getFile())->resize(520,520)->getUrl();
						$small_image = $_helper->init($_product,'small_image',['aspect_ratio' => false])->setImageFile($child->getFile())->resize(48,48)->getUrl();
					?>
						<li><img data-large="<?php echo $big_image;?>" alt="<?php echo $child->getLabel(); ?>" src="<?php echo $small_image; ?>" /></li>
					<?php } ?>
				</ul>
			</div>
			<div class="add-to-cart">
				<div class="product-price"><?php echo $abstractProductBlock->getProductPrice($_product) ?></div>
				<div class="actions">
					<a href="<?php echo $_product->getProductUrl();?>" class="action primary tocart">Buy Now</a>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<a href="/fabric-selection" class="btn btn-primary btn-gallery">Fabric Gallery</a><br/>
			<div class="short-description">
				<strong>Quick Overview</strong>
				<p><?php echo $_product->getShortDescription();?></p>
			</div>
		</div>
	</div>
	<div class="col-md-24 home-product-description">
		<h3>Description</h3>
		<?php echo substr($_product->getDescription(),0,400).'...';?><a href="<?php echo $_product->getProductUrl();?>">Read More</a>
	</div>
</div>
<?php } else { ?>
	<p>Sorry, We didn't get any product.</p>
<?php } ?>
<script>
	require(['jquery', 'modal', "mage/mage"],function ($) {
		$(".color-options li").on('click',function () {
			var image = $(this).find('img').attr('data-large');
			var colorName = $(this).find('img').attr('alt');
			var link = "<?php echo $_product->getProductUrl();?>";
			var productUrl = link+"?color="+colorName.toLowerCase();
			$('.product-image img').attr('src',image);
			$('.tocart').attr('href',productUrl);
		});
		$("#home_fablist").on('change', function () {
			var product_id = $(this).val();
			var customurl = "fabric-selection/index/ajaxproduct";
			$.ajax({
				url: customurl,
				showLoader: true,
				data: {
					product_id: product_id,
					ajax: '1',
				},
				type: 'POST',
				beforeSend: function () {
					//     alert('sending');
				},
				success: function (data, status, xhr) {
					//alert("hello");
					$('#home_product_fabric').html(data); 
				}
			});
		});
	});
</script>
