<?php
//echo $_POST['car_year'];
//echo "<pre>";print_r($_POST);
$postData = $block->getPostData();
$makeBlock = $block->getLayout()->createBlock('Techies\Carbrand\Block\Makecar\Make');
$imageBlock =  $block->getLayout()->createBlock('Codazon\ProductFilter\Block\Product\ProductsList');
$car_year = $postData['car_year'];
$car_make = $postData['car_make'];
$car_model = $postData['car_model'];
if(!empty($postData['car_year']) && !empty($postData['car_make']) && !empty($postData['car_model'])){
	
$block->getCoreSession()->setCarYear($postData['car_year']);
$block->getCoreSession()->setCarMake($postData['car_make']);
$block->getCoreSession()->setCarModel($postData['car_model']);

$block->getCatalogSessionData()->setCarYear($postData['car_year']);
$block->getCatalogSessionData()->setCarMake($postData['car_make']);
$block->getCatalogSessionData()->setCarModel($postData['car_model']);
	 
}  
if(empty($postData['car_year']) && empty($postData['car_make']) && empty($postData['car_model'])){
$car_year= $block->getCatalogSessionData()->getCarYear(); 
$car_make= $block->getCatalogSessionData()->getCarMake(); 
$car_model =$block->getCatalogSessionData()->getCarModel();
}

$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_optionHelper = $this->helper('Codazon\ThemeOptions\Helper\Data');
$_mobileHelper = $this->helper('Codazon\ThemeOptions\Helper\Mobile');
$labelHelper = $this->helper('Codazon\ProductLabel\Helper\Data');
		$pageColumn = $_optionHelper->getPageColumns();		                
			switch($pageColumn){
				case '3columns':								
					$columnsDeskClass = 'desktop_'.$_optionHelper->getConfig('general_section/category_view/category_desktop_view/product_row_desk_3col');
					$columnsTabClass = 'tablet_'.$_optionHelper->getConfig('general_section/category_view/category_tablet_view/product_row_tablet_3col');
					break;
				case '1column':					
					$columnsDeskClass = 'desktop_'.$_optionHelper->getConfig('general_section/category_view/category_desktop_view/product_row_desk_1col');
					$columnsTabClass = 'tablet_'.$_optionHelper->getConfig('general_section/category_view/category_tablet_view/product_row_tablet_1col');
					break;
				case '2columns':					
					$columnsDeskClass = 'desktop_'.$_optionHelper->getConfig('general_section/category_view/category_desktop_view/product_row_desk_2col');
					$columnsTabClass = 'tablet_'.$_optionHelper->getConfig('general_section/category_view/category_tablet_view/product_row_tablet_2col');
					break;
				default:					
					$columnsDeskClass = 'desktop_'.$_optionHelper->getConfig('general_section/category_view/category_desktop_view/product_row_desk_2col');
					$columnsTabClass = 'tablet_'.$_optionHelper->getConfig('general_section/category_view/category_tablet_view/product_row_tablet_2col');
					break;	
				}
				//echo $_optionHelper->getConfig('general_section/category_view/category_desktop_view/product_row_desk_2col');
				//echo $_optionHelper->getConfig('general_section/category_view/category_desktop_view/product_row_desk_1col');
				//echo $columnsDeskClass;
			$columnsMobileClass = 'mobile_'.$_optionHelper->getConfig('general_section/category_view/category_mobile_view/product_row_mobile');
		if(!$_mobileHelper->isMobile()){	
			$columnsClass = $columnsDeskClass;
		}else if($_mobileHelper->isTablet()){
			$columnsClass = $columnsTabClass;
		}else if($_mobileHelper->isMobile() && !$_mobileHelper->isTablet()){
			$columnsClass = $columnsMobileClass;	
		}
 ?>
<div class="smartsearch-form" style="display:none;">
	<h2>SELECT YOUR VEHICLE'S YEAR, MAKE, AND MODEL</h2>
	
<form  data-mage-init='{"validation": {"errorClass": "mage-error"}}' id="smartsearch" action="<?php echo $this->getUrl('fabric') ?>" method="post">
	<div class="field control cmbyear">
		<label for="cmbyear" class="label"><span><?php //echo __('Email') ?></span></label>
		<div class="">
			<select  class="getdataclass" data-validate="{required:true, 'validate-select':true}" id="car_year" name="car_year" >
				  <option value="0">Select Year</option>
				  <?php
				  $yearsData = $block->getLayout()->createBlock('Techies\Cardetail\Block\CategoryProduct')->getYearsFromCoreConfig();
								foreach ($yearsData as $year) {
					?>
					<option <?php echo ($car_year == $year['value'])?"selected":"";?> value="<?php echo $year['value'] ?>"><?php echo $year['label'] ?></option>
					<?php
				}
				?>
			</select>
		</div>
	</div>
	<div class="control">
		<select class="required getdataclass" id="car_make" name="car_make"  >
			<option value="0">Select Make</option>
			<?php
			$make = $makeBlock->getMakeCars();
		if (count($make) > 0) {
			foreach ($make as $val) {
				?>
				<option <?php echo ($car_make == $val['value'])?"selected":"";?> value="<?php echo $val['value'] ?>" data-make="<?php echo $val['label'] ?>"  ><?php echo $val['label'] ?></option>
				<?php
			}
		}
		?>
		</select>
	</div>
	<div class="control">
		<select  class="getdataclass" id="car_model" name="car_model">
			<option value="0">Select Model</option>
		</select>
	</div>
	<div class="control">
		
		<input type="submit" name="search" value="Select Vehicle" />
	</div>
</form>
</div>

<script>


	require(['jquery', 'modal', "mage/mage"],
			function ($) {
					var str1 = "<option value='0'>Select</option>";	
					 var str = "<option value='0'>Select</option>";
					var car_model = <?php echo !empty($car_model)?$car_model:"0";?>;
					var car_make = <?php echo !empty($car_make)?$car_make:"0";?>;
					var car_year = <?php echo !empty($car_year)?$car_year:"0";?>;
					var attr = $(this).attr('id');
					if (car_year != '0' && car_make != '0' && attr != 'car_model') {
						var makeurl = "<?php echo $this->getUrl() . 'getcarmakes/' ?>";
						$.ajax({
							url: makeurl,
							showLoader: true,
							//         data: 'car_make='+car_make+'&'+'car_year='+car_year+'&ajax=1',
							data: {
								car_make: car_make,
								car_year: car_year,
								ajax: '1',
							},
							type: 'POST',
							dataType: 'json',
							beforeSend: function () {
								//     alert('sending');
							},
							success: function (data, status, xhr) {
								$.each(data, function (key, value) {
									 if(car_make == key){ var selected = "selected";}
									if (value != '0') {
										str1 += "<option "+selected+" value='" + key + "'  data-model='" + value + "' >" + value + "</option>";
									}
								});
								$('#car_make').html(str1);
								$('#valid').hide();
							}
						});
						
						var customurl = "<?php echo $this->getUrl() . 'getcars/' ?>";
						$.ajax({
							url: customurl,
							showLoader: true,
							data: {
								car_make: car_make,
								car_year: car_year,
								ajax: '1',
							},
							type: 'POST',
							dataType: 'json',
							beforeSend: function () {
								//     alert('sending');
							},
							success: function (data, status, xhr) {
								$.each(data.items, function (key, value) {
									//  alert( value.carmodel );
									if(car_model == value.model_id){ var selected = "selected";}
									if (value.model_id != '0') {
										str += "<option "+selected+" value='" + value.model_id + "'  data-model='" + value.carmodel + "' >" + value.carmodel + "</option>";
									}
								});
								$('#car_model').html(str);
								$('#valid').hide();
							}
						});
					} else {
						if (car_year == '0' || car_make == '0' || car_model == '0') {
							$('#valid').show();
						}
					}
					
					
					
					$("#car_year").change(function () {
					 var str = "<option value='0'>Select</option>";
				   
				  
					$('#car_make').html("<option value='0'>Select</option>");
					 $('#car_model').html("<option value='0'>Select</option>");
				   var car_make = $('#car_make').val();
				   var car_year = $('#car_year').val();
				   var car_model = $('#car_model').val();
					var attr = $(this).attr('id');
					if (car_year != '0' ) {
						var customurl = "<?php echo $this->getUrl() . 'getcarmakes/' ?>";
						$.ajax({
							url: customurl,
							showLoader: true,
							//         data: 'car_make='+car_make+'&'+'car_year='+car_year+'&ajax=1',
							data: {
								car_make: car_make,
								car_year: car_year,
								ajax: '1',
							},
							type: 'POST',
							dataType: 'json',
							beforeSend: function () {
								//     alert('sending');
							},
							success: function (data, status, xhr) {
								$.each(data, function (key, value) {
									 // alert( key+' :'+ value);
									if (value != '0') {
										str += "<option value='" + key + "'  data-model='" + value + "' >" + value + "</option>";
									}
								});
								$('#car_make').html(str);
								$('#valid').hide();
							}
						});
					} else {
						
							$('#valid').show();
						
					}
				});
				
					$("#car_make").change(function () {
					
					$('#car_model').html("<option value='0'>Select</option>");
					var str = "<option value='0'>Select</option>";
					var car_make = $('#car_make').val();
					var car_year = $('#car_year').val();
					var car_model = $('#car_model').val();
					var attr = $(this).attr('id');
					if (car_year != '0' && car_make != '0' && attr != 'car_model') {
						var customurl = "<?php echo $this->getUrl() . 'getcars/' ?>";
						$.ajax({
							url: customurl,
							showLoader: true,
							//         data: 'car_make='+car_make+'&'+'car_year='+car_year+'&ajax=1',
							data: {
								car_make: car_make,
								car_year: car_year,
								ajax: '1',
							},
							type: 'POST',
							dataType: 'json',
							beforeSend: function () {
								//     alert('sending');
							},
							success: function (data, status, xhr) {
								$.each(data.items, function (key, value) {
									//  alert( value.carmodel );
									if (value.model_id != '0') {
										str += "<option value='" + value.model_id + "'  data-model='" + value.carmodel + "' >" + value.carmodel + "</option>";
									}
								});
								$('#car_model').html(str);
								$('#valid').hide();
							}
						});
					} else {
						if (car_year == '0' || car_make == '0' || car_model == '0') {
							$('#valid').show();
						}
					}
				});

			   

			});

</script>
<p>&nbsp;</p>
<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('fastest-ellyana-fabric-top-content')->toHtml();?>
<p>&nbsp;</p>
<div class="smartsearch-result">
<?php $productCollection = $block->getProductCollection()->addAttributeToFilter('type_id','configurable');
		$viewMode = 'grid';
		$image = 'category_page_grid';
		$image_hover = 'category_page_grid_hover';
		$showDescription = $_optionHelper->getConfig('general_section/category_view/show_short_description');
		$pos = $block->getPositioned();
if(count($productCollection) > 0){ ?>
<?php $iterator = 1; ?>
<div class="products wrapper grid products-grid">
	<div class="<?php echo $columnsClass ?>" id="category-products-grid">
		<ol class="products list items product-items same-height">	
		<?php foreach ($productCollection as $_product) {
		/* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
			<div class="product-item-info" data-container="product-grid">                	
				<div class="cdz-hover-section">
					<div class="cdz-product-top">
						<?php						
						$productImage = $imageBlock->getImage($_product, $image);
						$productHoverImage = $imageBlock->getImage($_product, $image_hover);
						$tmp1 = $productImage->getData('image_url');
						$tmp1 = explode('/',$tmp1);
						$tmp2 = $productHoverImage->getData('image_url');
						$tmp2 = explode('/',$tmp2);
						if($tmp1[count($tmp1)-1] == $tmp2[count($tmp2)-1]){
							$productHoverImage = $productImage;
						}
						if ($pos != null) {
							$position = ' style="left:' . $productImage->getWidth() . 'px;'
								. 'top:' . $productImage->getHeight() . 'px;"';
						}
						?>
						<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
							<span class="main-image">
								<?php echo $productImage->toHtml(); ?>
							</span>
							<span class="hover-image">
								<?php echo $productHoverImage->toHtml(); ?>
							</span>
						</a>
					</div>																		
				</div>
				<div class="product details product-item-details">
					<strong class="product name product-item-name">
						<a class="product-item-link" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
									<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
						</a>
					</strong>
					<?php echo $block->getProductDetailsHtml($_product); ?>
					<div class="product-item-inner">
						<div class="product description product-item-description">
							<?php $short_description =  $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description');
							echo substr($short_description,0,150).'...';?>
							<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_product->getName() ?>"
							   class="action more"><?php /* @escapeNotVerified */ echo __('Read More') ?></a>
						</div>
					</div>
				</div>
			</div>
		<?php echo($iterator == count($productCollection)+1) ? '</li>' : '';
		} ?>
		</ol>
	</div>
</div>
<?php } else {
	echo "No Products Found. Please try again";
}
?>
</div>