<?php

$makeBlock = $block->getLayout()->createBlock('Techies\Carbrand\Block\Makecar\Make');

$car_year= $block->getCatalogSessionData()->getCarYear(); 
$car_make= $block->getCatalogSessionData()->getCarMake(); 
$car_model =$block->getCatalogSessionData()->getCarModel();
 ?>
<div class="smartsearch-html">
	<h2>SELECT YOUR VEHICLE'S YEAR, MAKE, AND MODEL</h2>
	<form id="smartsearch" action="<?php echo $this->getUrl('fabric') ?>" method="post">
		<div class="control">
			<select class="getdataclass" data-validate="{required:true, 'validate-select':true}" id="car_year" name="car_year" >
				<option value="0">Select Year</option>
			  	<?php $yearsData = $block->getLayout()->createBlock('Techies\Cardetail\Block\CategoryProduct')->getYearsFromCoreConfig();
				foreach ($yearsData as $year) { ?>
				<option <?php echo ($car_year == $year['value'])?"selected":"";?> value="<?php echo $year['value'] ?>"><?php echo $year['label'] ?></option>
				<?php  } ?>
			</select>
		</div>
		<div class="control">
			<select class="required getdataclass" id="car_make" name="car_make" >
				<option value="0">Select Make</option>
				<?php $make = $makeBlock->getMakeCars();
				if (count($make) > 0) {
					foreach ($make as $val) { ?>
						<option <?php echo ($car_make == $val['value'])?"selected":"";?> value="<?php echo $val['value'] ?>" data-make="<?php echo $val['label'] ?>"  ><?php echo $val['label'] ?></option>
				<?php }
				}
				?>
			</select>
	    </div>
		<div class="control">
			<select class="getdataclass" id="car_model" name="car_model">
				<option value="0">Select Model</option>
			</select>
		</div>
		<div class="control">
			<input type="submit" name="search" value="Select Vehicle" />
		</div>
	</form>
</div>
<script>
require(['jquery', 'modal', "mage/mage"], function ($) {
	var str1 = "<option value='0'>Select</option>";	
	var str = "<option value='0'>Select</option>";
	var car_model = <?php echo !empty($car_model)?$car_model:"0";?>;
	var car_make = <?php echo !empty($car_make)?$car_make:"0";?>;
	var car_year = <?php echo !empty($car_year)?$car_year:"0";?>;
	var attr = $(this).attr('id');
	if (car_year != '0' && car_make != '0' && attr != 'car_model') {
		var makeurl = "<?php echo $this->getUrl() . 'getcarmakes/' ?>";
		$.ajax({
			url: makeurl,
			showLoader: true,
			data: {
				car_make: car_make,
				car_year: car_year,
				ajax: '1',
			},
			type: 'POST',
			dataType: 'json',
			beforeSend: function () {
				//     alert('sending');
			},
			success: function (data, status, xhr) {
				$.each(data, function (key, value) {
					if(car_make == key){ var selected = "selected";}
					if (value != '0') {
						str1 += "<option "+selected+" value='" + key + "'  data-model='" + value + "' >" + value + "</option>";
					}
				});
				$('#car_make').html(str1);
				$('#valid').hide();
			}
		});
			
		var customurl = "<?php echo $this->getUrl() . 'getcars/' ?>";
		$.ajax({
			url: customurl,
			showLoader: true,
			data: {
				car_make: car_make,
				car_year: car_year,
				ajax: '1',
			},
			type: 'POST',
			dataType: 'json',
			beforeSend: function () {
				//     alert('sending');
			},
			success: function (data, status, xhr) {
				$.each(data.items, function (key, value) {
					if(car_model == value.model_id){ var selected = "selected";}
					if (value.model_id != '0') {
						str += "<option "+selected+" value='" + value.model_id + "'  data-model='" + value.carmodel + "' >" + value.carmodel + "</option>";
					}
				});
				$('#car_model').html(str);
				$('#valid').hide();
			}
		});
	} else {
		if (car_year == '0' || car_make == '0' || car_model == '0') {
			$('#valid').show();
		}
	}
	$("#car_year").change(function () {
		var str = "<option value='0'>Select</option>";
		$('#car_make').html("<option value='0'>Select</option>");
		$('#car_model').html("<option value='0'>Select</option>");
		var car_make = $('#car_make').val();
		var car_year = $('#car_year').val();
		var car_model = $('#car_model').val();
		var attr = $(this).attr('id');
		if (car_year != '0'   ) {
			var customurl = "<?php echo $this->getUrl() . 'getcarmakes/' ?>";
			$.ajax({
				url: customurl,
				showLoader: true,
				data: {
					car_make: car_make,
					car_year: car_year,
					ajax: '1',
				},
				type: 'POST',
				dataType: 'json',
				beforeSend: function () {
					//     alert('sending');
				},
				success: function (data, status, xhr) {
					$.each(data, function (key, value) {
						// alert( key+' :'+ value);
						if (value != '0') {
							str += "<option value='" + key + "'  data-model='" + value + "' >" + value + "</option>";
						}
					});
					$('#car_make').html(str);
					$('#valid').hide();
				}
			});
		} else {
			$('#valid').show();
		}
	});
	$("#car_make").change(function () {
		var str = "<option value='0'>Select</option>";
		$('#car_model').html("<option value='0'>Select</option>");
		var car_make = $('#car_make').val();
		var car_year = $('#car_year').val();
		var car_model = $('#car_model').val();
		var attr = $(this).attr('id');
		if (car_year != '0' && car_make != '0' && attr != 'car_model') {
			var customurl = "<?php echo $this->getUrl() . 'getcars/' ?>";
			$.ajax({
				url: customurl,
				showLoader: true,
				data: {
					car_make: car_make,
					car_year: car_year,
					ajax: '1',
				},
				type: 'POST',
				dataType: 'json',
				beforeSend: function () {
					//     alert('sending');
				},
				success: function (data, status, xhr) {
					$.each(data.items, function (key, value) {
					if (value.model_id != '0') {
						str += "<option value='" + value.model_id + "'  data-model='" + value.carmodel + "' >" + value.carmodel + "</option>";
					}
					});
					$('#car_model').html(str);
					$('#valid').hide();
				}
			});
		} else {
			if (car_year == '0' || car_make == '0' || car_model == '0') {
				$('#valid').show();
			}
		}
	});
});

</script>