<?php
$catData = $block->getProductCollection();
$_helper = $this->helper('WeltPixel\LazyLoading\Helper\Data');
$imageLoader = $_helper->getImageLoader();
$imagesArray = array();
$_helper = $this->helper('Magento\Catalog\Helper\Image');
$i = 1;
?>
<div class="cdz-three-banner">
    <div class="row">

        <?php
        if (count($catData) > 0) {
            foreach ($block->getProductCollection() as $product) :
                ?>
                <?php
                $configProduct = $block->getLoadProduct($product->getId());

                if ($i == 1) {
                    $images = $configProduct->getMediaGalleryEntries();
                    if (count($images) > 0) {
                        foreach ($images as $k => $valImages) {
                            $big_image = $_helper->init($configProduct,'product_page_image_large',['aspect_ratio' => false])->setImageFile($valImages->getFile())->resize(380,380)->getUrl();
		            $dataImg = $valImages->getData();
                            $color = str_replace(array(" ", '(', ')'), '', $dataImg['label']);
                            $colorName = $color;
                            $imagesArray[strtolower($colorName)] = $big_image;
                        }
                    }
                    $productUrl = $block->getProductUrl($product->getId());
                    $url = $productUrl->getUrlModel()->getUrl($productUrl);

                    $opt = $configProduct->getOptions();
                    if (count($opt) > 0) {
                        foreach ($configProduct->getOptions() as $_option) {
                            $values = $_option->getValues();
                            $title = $_option->getTitle();
                            if ($title == 'Color') {
                                foreach ($values as $option) {
                                    $color = str_replace(array(" ", '(', ')'), '', $option->getTitle());
                                    $colorNameData = substr($color, 0, -2);
                                    ?>
                                    <?php
                                    $img = "/pub/media/wysiwyg/seatbelt.png";
                                    if (isset($imagesArray[strtolower($colorNameData)]) && !empty($imagesArray[strtolower($colorNameData)])) {
                                        $img =  $imagesArray[strtolower($colorNameData)];
                                        ?>
                                        <div class="col-sm-8">
                                            <div class="groupbanner-text hover-scale "><a href="<?php echo $url ?>?color=<?php echo strtolower($colorNameData) ?>">


                                                    <img class="img-responsive lazy" src="<?php echo $imageLoader;?>" data-original="<?php echo $img ?>" alt="<?php echo $colorNameData ?>"></a>

                                                <div class="group-info">
                                                    <div class="groupinfo-inner">
                                                        <div class="groupinfo-desc text-center">
                                                            <p class="grifo-title text-uppercase"><a href="<?php echo $url ?>?color=<?php echo strtolower($colorNameData) ?>">
                                                                <?php echo substr(str_replace(array('(', ')'), '', rtrim(ltrim($option->getTitle()))),0,-2);  //str_replace(array('(', ')'), '', substr(ltrim(rtrim($option->getTitle())),0, -2)); ?>
                                                                
                                                                </a></p>
                                                            <p class="grifo-desc"><?php echo $product->getName(); ?></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><?php } ?>
                                    <?php
                                }
                            }
                        }
                    } else {
                        ?>
                        <div class="col-sm-8">No record.</div>

                        <?php
                    }
                }
                $i++;
                ?>
            <?php
            endforeach;
        } else {
            ?>
            <div class="col-sm-8">No record.</div>
        <?php } ?>
    </div>
</div>