<?php
$datacar = $block->getDataCar();
$categoryProductBlock = $block->getLayout()->createBlock('Techies\Cardetail\Block\CategoryProduct');
$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
$media = $categoryProductBlock->getFilePath();

$notesData = $block->getLayout()->createBlock('Techies\Seatnote\Block\Note\Notes');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$directory = $objectManager->get('\Magento\Framework\Filesystem\DirectoryList');
$rootPathMedia  =  $directory->getPath('media');;

$currency = $this->helper('Magento\Framework\Pricing\Helper\Data');
//echo count($datacar);

$seatStyle = $block->getLayout()->createBlock('Techies\Seatstyle\Block\Style\Style');
$carmodelbock = $block->getLayout()->createBlock('Techies\Carmodel\Block\Carmodel\CarModel');

$i = 1;
if (count($datacar) > 0) {
    foreach ($datacar as $key => $val) {
        $configProduct = $categoryProductBlock->getLoadProduct($val['product_id']);
        $attrLabel = $configProduct->getResource()->getAttribute('location')->getFrontend()->getValue($configProduct);
         $attrLabel=str_replace('2','',$attrLabel);
        // Get Label
        if ($i == 1) {
            $parent_product = $categoryProductBlock->getLoadProduct($val['parent_product']);

            $cartHelper = $this->helper('Magento\Checkout\Helper\Cart');
            $addToCartUrl = $cartHelper->getAddUrl($parent_product);
            $productTypeInstance = $parent_product->getTypeInstance();
            $productTypeInstance->setStoreFilter($parent_product->getStoreId(), $parent_product);

            $attributes = $productTypeInstance->getConfigurableAttributes($parent_product);
            $superAttributeList = [];

            foreach ($attributes as $_attribute) {
                $superAttributeList = $_attribute->getAttributeId();
            }
        }
        $i++;
        ?>
        <div class="col-sm-24 configure-product">

            <form action="<?php echo $addToCartUrl ?>"
                  method="post" data-role="tocart-form"  id="product_addtocart_form_<?php echo $val['location_id']; ?>" enctype="multipart/form-data" novalidate="novalidate">
                <input type="hidden" name="product" value="<?php echo $val['parent_product']; ?>">
                <input type="hidden"  name="super_attribute[<?php echo $superAttributeList ?>]" 
                       data-selector="super_attribute[<?php echo $superAttributeList ?>]"
                       data-validate="{required:true}"  
                       aria-required="true" value="<?php echo $val['location_id']; ?>">
                <input type="hidden" name="related_product"   value="">
                  <input type="hidden" name="fscode"  id="fscode_<?php echo $val['location_id']; ?>" value="<?php echo $parent_product->getFabricCode()?>">

                <input type="hidden"   class="FabricCode input-text product-custom-option" data-validate="{&quot;validate-no-utf8mb4-characters&quot;:true}" name="options[<?php echo $val['FabricCode']; ?>]" data-selector="options[<?php echo $val['FabricCode']; ?>]" value="">
                <input type="hidden"   class="Year input-text product-custom-option" data-validate="{&quot;validate-no-utf8mb4-characters&quot;:true}" name="options[<?php echo $val['Year']; ?>]" data-selector="options[<?php echo $val['Year']; ?>]" value="">
                <input type="hidden"   class="CarMake input-text product-custom-option" data-validate="{&quot;validate-no-utf8mb4-characters&quot;:true}" name="options[<?php echo $val['CarMake']; ?>]" data-selector="options[<?php echo $val['CarMake']; ?>]" value="">
                <input type="hidden"   class="CarModel input-text product-custom-option" data-validate="{&quot;validate-no-utf8mb4-characters&quot;:true}" name="options[<?php echo $val['CarModel']; ?>]" data-selector="options[<?php echo $val['CarModel']; ?>]" value="">
                <input type="hidden" id="CodeProduct_<?php echo $val['location_id']; ?>"  class="input-text product-custom-option" data-validate="{&quot;validate-no-utf8mb4-characters&quot;:true}" name="options[<?php echo $val['Code']; ?>]" data-selector="options[<?php echo $val['Code']; ?>]" value="">
                <?php
                $FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey');
                ?>
                <input name="form_key" type="hidden" value="<?php echo $FormKey->getFormKey(); ?>">        		   
                <input type="hidden" name="qty"  value="1" title="Qty" >

                <div class="col-sm-8">
                    <?php if ($val['location_id'] == 13) { ?>
                    <img width="80" height="80" id="imagestyle<?php echo $val['location_id']?>" src="<?php echo $media ?>codazon/05A.gif" />

                    <?php } else { ?>
                        <img width="80" height="80" id="imagestyle<?php echo $val['location_id']?>"  src="<?php echo $media ?>codazon/11A.gif" />

                    <?php } ?>
                    <?php
                    $seatid = $val['seatid'];
                    if (!empty($seatid)) {
                        $seatid = explode(",", $seatid);
                    }
                    
                    if(is_array($seatid) && !empty($seatid)){
                        $modelyears= explode(",", $val['modelyears']);
                        
                        $locationSeat=explode(",", $val['location']);
                        $val['location']=$locationSeat[0];
                           $dataNotes = $carmodelbock->getSeatNoteByStyleIdProductView($modelyears[0], $val['makecar'], $val['carmodel'],$seatid[0],strtoupper(str_replace('2','',$val['location'])));
                           
                    }
                    $sn = $val['sn'];
                    $notes = array();
                    if (!empty($sn)) {
                        $sn = explode(",", $sn);
                    }
                    $n = 1;
                    if (is_array($dataNotes) && count($dataNotes) > 0) {
                        foreach ($dataNotes as $valsn) {
                            if (!empty($valsn['description'])) {
                                $notes[] = '<strong>' . $n . '</strong> )' . $valsn['description'];
                                $n++;
                            }
                        }?>
                        <?php if(isset($dataNotes[0]['pattern']) && !empty($dataNotes[0]['pattern'])){ ?>
                                 <input type="hidden" id="Pattern_<?php echo $val['location_id']; ?>"  class="Pattern input-text product-custom-option" data-validate="{&quot;validate-no-utf8mb4-characters&quot;:true}" name="options[<?php echo $val['Pattern']; ?>]" data-selector="options[<?php echo $val['Pattern']; ?>]" value="<?php echo $dataNotes[0]['pattern'] ?>">
                        <?php }else{?>
                          <input type="text" id="Pattern_<?php echo $val['location_id']; ?>"  class="Pattern input-text product-custom-option" data-validate="{&quot;validate-no-utf8mb4-characters&quot;:true}" name="options[<?php echo $val['Pattern']; ?>]" data-selector="options[<?php echo $val['Pattern']; ?>]" value="<?php echo $val['pattern'] ?>">
                        <?php }?>
                       <div id='notes_<?php echo $val['location_id']?>'>
                           <?php if( isset($notes) && !empty($notes)){?>
                           <strong>Seat Notes:</strong><?php echo implode("<br>", $notes)?>
                           <?php }?>
                       </div>
                        
                    <?php } ?>
                </div>
                <div class="col-sm-8 product-options">
                    <h4><?php echo $attrLabel ?> Covers</h4>
                    <?php
                  
                    if (is_array($seatid) && count($seatid) > 0) {
                        ?>
                        <div class="control">
                            
                            <select name="options[<?php echo $val['SeatId'] ?>]" id="styledata_<?php echo $val['location_id']?>"  class="required product-custom-option admin__control-select styledata" title="" data-selector="options[<?php echo $val['SeatId'] ?>]" aria-required="true" >

                                <?php
                                 $img= $media."codazon/11A.gif";
                                foreach ($seatid as $seat) {
                                    
                                    
                                    if (!empty($seat)) {
                                        $seatId = $seatStyle->getStyleDataBYCode($seat);
                                        $m=$seatId->getImgstyle();
                                        $path=$rootPathMedia.'/seatImages/'.$seatId->getImgstyle();
                                     if (file_exists($path) && !empty($m)) {
                                         $img=$media."seatImages/".$seatId->getImgstyle();
                                     }
                                        
                                        $dis = $seatId->getDescription();
                                        if (empty($dis)) {
                                            $dis = $seat;
                                        }
                                        ?>
                                <option   data-locationidstring="<?php echo strtoupper(str_replace('2','',$val['location']))?>"  value="<?php echo $seat ?>" data-rel="<?php echo $img?>" data-locationid="<?php echo $val['location_id']?>" ><?php echo $dis ?></option>
                                        <?php
                                    }
                                }
                                ?>
                            </select>
                        </div>
                        <?php
                    }
                    if (isset($val['color']) && count($val['color']) > 0) {
                        $optionId = $val['color'][0]['option_id'];
                        ?>
                        <div class="control">

                            <select name="options[<?php echo $optionId ?>]" id="colorcode_<?php echo $val['location_id']; ?>"   class=" required product-custom-option admin__control-select colorcode" title="" data-selector="options[<?php echo $optionId ?>]" aria-required="true">
                                <option value="">-- Select Color--</option>
                                <?php foreach ($val['color'] as $color) { 
                                    
                                     $colorCode = str_replace(array(" ", '(', ')'), '', $color['title']);
                                    $colorNameData =  substr($colorCode,  -2);
                                    ?>
                                    <option value="<?php echo $color['option_type_id'] ?>" price="0" data-colorcode="<?php echo $colorNameData ?>" data-locationcolor="<?php echo $val['location_id']?>" ><?php echo $color['title'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    <?php } ?>

                </div>

                <div class="col-sm-8">
                    <?php /*
                    $price = $currency->currency(number_format($configProduct->getPrice(), 2), true, false);
                    
                    <div class="product-info-price"><div class="price-box"><div class="price-container"> <span class="price"><?php //echo $price ?></span></div></div></div> */ ?>
                    <div class="product-info-price"><?php echo $abstractProductBlock->getProductPrice($configProduct); ?></div>
                    <div class="actions">
                        <button type="submit" title="Add to Cart" class="action primary tocart" >
                            <span>Add to Cart</span>
                        </button>
                    </div>
                </div>

                <script>
                    require([
                        'jquery',
                        'mage/mage',
                        'Magento_Catalog/product/view/validation',
                        'Magento_Catalog/js/catalog-add-to-cart'
                    ], function ($) {
                        'use strict';

                        $('[id="product_addtocart_form_<?php echo $val['location_id']; ?>"]').mage('validation', {
                            radioCheckboxClosest: '.nested',
                            submitHandler: function (form) {
                                var widget = $(form).catalogAddToCart({
                                    bindSubmit: false
                                });

                                widget.catalogAddToCart('submitForm', $(form));

                                return false;
                            }
                        });
                    });
                </script>

            </form>

        </div> 
        <?php
    }
} else {?>
     <div class="col-sm-24 configure-product">
      No Record Found;
     </div>
    <?php 
}
?>

<style type="text/css">
    .configure-product{padding: 40px 0;
                       margin-top: 40px;border-top: 1px dotted #ccc;}
    .product-options .control{
        margin:10px 0;
    }
</style>
<script>


    require(['jquery', 'modal', "mage/mage"],
            function ($) {
                    $(".styledata").change(function () {
               var img=$(this).find(':selected').data('rel');
                var imglocationid=$(this).find(':selected').data('locationid');
                var locationidstring=$(this).find(':selected').data('locationidstring');
               $('#imagestyle'+imglocationid).attr('src',img);
              var car_year = $('#car_year').val();
                    var car_make = $('#car_make').val();
                    var car_model = $('#car_model').val();
                     
                    var seatid=$(this).val();
                    if (car_year != '0' && car_make != '0' && car_model != '0' && seatid!='' ) {
                 var customurl = "<?php echo $this->getUrl() . 'cardetail/seat/index/' ?>";
                        $.ajax({
                            url: customurl,
                            showLoader: true,
                            //         data: 'car_make='+car_make+'&'+'car_year='+car_year+'&ajax=1',
                            data: {
                                car_make: car_make,
                                car_year: car_year,
                                car_model: car_model,
                                ajax: '1',
                                seatid: seatid,
                                localtion:locationidstring
                            },
                            type: 'POST',
                            //      dataType: 'json',
                            beforeSend: function () {
                                //     alert('sending');
                            },
                            success: function (data, status, xhr) {
                                var strdescription='';
                                var i=1;
                                   $.each(JSON.parse(data), function (key, value) {
                                       if(value.description!=''){
                                           $('#Pattern_'+imglocationid).val(value.pattern);
                                           var colorcode=$('#colorcode_'+imglocationid).find(':selected').data('colorcode');
                                           var fscode=$('#fscode_'+imglocationid).val();
                                            $('#CodeProduct_'+imglocationid).val('S '+fscode+value.pattern+'-'+colorcode);
                                strdescription+="<strong>"+i+"</strong> )" +value.description+'<br>';
                                  i++;
                            }
                                });
                                if(strdescription!=''){
                                 
                                //notes_10,imglocationid
                             //    alert(strdescription);
                                 $('#notes_'+imglocationid).html('<strong>Seat Notes:</strong> '+strdescription);
                             }
                            }
                        });
               
               }
               });
               
                $(".colorcode").change(function () {
               var colorcode=$(this).find(':selected').data('colorcode');
               var locationcolor=$(this).find(':selected').data('locationcolor');
               
               var styledata=$('#styledata_'+locationcolor).find(':selected').val();
               var fscode=$('#fscode_'+locationcolor).val();
               $('#styledata_'+locationcolor).trigger('change');
          //   $('#CodeProduct_'+locationcolor).val(colorcode);
           
               });
               
               $(".styledata").trigger('change');

            });
            
            
            
            
            </script>
